.dockerignore
.editorconfig
.gitignore
.gitattributes
LICENSE
*.yml
*.md
*.out
*.DS_Store

*.js
*.js.map

!**/*e2e-spec.js
!karma*.js
!protractor*.js
!systemjs.config.js
!wallaby.js

.git/
.idea/
/resources/node_modules
