/.idea
/bin
/vendor
*.iws
*.ipr
*.ids
*.log
*.tmp
*.bak
*.swp
*~.nib
.DS_Store
.merge_file*
local.properties
Godeps/*
!Godeps/Godeps.json
coverage.out
count.out
docker-*

# nodejs
/resources/node_modules

#augular2
*.js
*.js.map

!**/*e2e-spec.js
!karma*.js
!protractor*.js
!systemjs.config.js
!wallaby.js

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
